.red-example {



    /*Hue, Saturation, Brightness*/
    color: hsl(0, 100%, 50%)
}

.font-size-example {


    /*with rem */
    font-size: 4rem
}

.font-family-example {
    font-family: 'Times New Roman', serif;
  }

  .font-weight-example {
    font-weight: bold;
    /* or */
    font-weight: 700;
  }

  .list-style-example {
    list-style: square;
  }

  .line-height-example {
    line-height: 1.5;
  }

  .text-align-example {
    text-align: right;
  }

  .text-decoration-example {
    text-decoration: underline dotted red;
  }

  .width-example {
    background-color:lightgrey;
    width: 300px;
  }

  .height-example {
    background-color:lightgrey;
    height: 150px;
    display: inline-block;
  }

  .margin-example {
    background-color:lightgrey;
    width: 300px;
    margin:50px auto;
  }

  .padding-example {
    background-color:lightgrey;
    padding: 100px;
    width: 300px;
  }

  .position-example {
    position: relative;
    left: -150px;
    top: 50px;
  }

  .overflow-example {
    background-color:lightgrey;
    width: 250px;
    overflow: scroll;
    white-space: nowrap;
    
  }

  .background-color-example {
    background-color: #8BABFC;
  }

  .background-image-example {
   
    background-image: linear-gradient(to right,yellow,red);
  }

  .border-example {
  
    border: 2px dashed red;
  }

  .border-radius-example {
    border-radius: 30px;
    background-color: #8BABFC;
  }

  .cursor-example {
    cursor: pointer;
  }

  .accent-color-example {
    accent-color: #ff0000;
  }

  .opacity-example {
    opacity: 55%
  }

  .transform-example {
    transform: rotate(45deg);
    display: inline-block;

  }

  .transition-example {
    color: red;
    transition: color .5s;
  }
  .transition-example:hover {
    color: blue;
  }

  @keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
  }

  .keyframe-example {
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }