@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,700;0,800;1,400&display=swap');
:root {
    font-size: 10px;
}

img {
  max-width: 100%;
}

body {
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 400;
    max-width: 800px;
    margin: 50px auto;
    padding: 0px 20px;
    color: #323F4E;
    background-image: url('../imgs/dot-bg.png');
    font-size: 1.8rem;
    line-height: 3rem;
}

body.rubric {
    max-width: 1200px;
}

h1 {
    font-weight: 400;
   font-size: 3.6rem;
}

h2 {
    font-weight: 800;
    margin-top: 60px;
    text-decoration: underline;
}

h3 {
    margin-bottom: 0px;
}

p {
    margin-top: 5px;
}


a, em {
    background-color: transparent;
    color: #B59005;
    font-weight: 700;
    font-style: normal;
    transition: color .25s ease-in-out, background-color .25s ease-in-out;
  }
  a:hover {
    background-color: #B59005;
    color: white;
  }

  li {
    padding: 5px;
  }

  table, th, td {
    text-align: left;
    border: 1px solid;
    padding: 10px;
  }

  table {
    margin-top: 50px;
    border-collapse: collapse;
  }

section.class {
    margin: 50px 0;
   border: 1px solid #323F4E ;
   border-radius: 5px;
   padding: 0 20px 20px 20px;
   
    
}

h3 a {
  text-decoration: none;
  color: #323F4E;

}

h3 a:hover {
  background-color: transparent;
  color: #323F4E;
  cursor: default;
}

code, pre {
  background-color: #EDEDED;
  padding: 5px 10px;
}

.back {
  margin-bottom:20px;
  display: inline-block;
}

dd {
  margin: 5px 0px 40px 0px;
}
